* {
  margin: auto;
  padding: 0em;
}
h2 {
  font-size: 2em;
  padding-top: 1.2em;
  padding-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

span {
  color: red;
  text-shadow: 2px 2px 3px black;
}
ul {
  color: white;
  font-size: 1.7em;
display:block;
margin-left:60px;

  }

a {
  color: white;
  text-shadow: 2px 2px 3px red;
}
tr{
 display:flex;
flex-wrap:wrap;
flex-direction:row;
flex:1;
}
#one {
  padding-left: 2.5em;
  word-spacing: 2em;
  color: white;
  text-decoration: none;
  padding-bottom: 2em;
  display:flex;

}
h3 {
  font-size: 2em;
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.video-container {
  background: black;
  opacity: 99.99%;
  z-index: -1;
}
#back {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  opacity: 100%;
}
#sts {
  padding-left: 1.3em;
}
img {
  width: 60%;
display:flex;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box;
justify-content:center
}
p {
  color: white;
  display: flex;
  font-size: 1.7em;
  justify-content: center;
margin-left:20px;
  
}
footer {
  color: white;
  text-align: center;
}

#qwe {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: indianred;
}

#one,
a:hover {
  color: orangered;
  font-size: 1.2em;
  transition-timing-function: ease-in-out;
  transition: all 0.5s;
}
span:hover {
  font-size: 1.1em;
  color: orangered;
  transition-timing-function: ease-in-out;
  transition: all 0.2s;
}

#qwe:hover {
  font-size: 1.7em;
  transition-timing-function: ease;
  color: darkorange;
  transition: all 0.2s linear;
}
.anime {
  width: auto;
  animation: move 3s infinite;
  transition-timing-function: ease-in-out;
}
@keyframes move {
  0% {
  }
  33% {
    transform: translateX(-60px);
  }
  66% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0px);
  }
}
